<form action="/pages/new" method="post" class="form">
  <label for="title">title</label>
  <textarea name="title" id="title" placeholder="enter the title"></textarea>
    <label for="author">Author</label>
  <textarea name="author" id="author" placeholder="enter your name"></textarea>
    <label for="content">Content</label>
  <textarea name="content" id="content" placeholder="enter the content"></textarea>
<input type="submit">
</form>